body{
    box-sizing: border-box;
    margin: 0; 
}

.card-deck{
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    background-color: azure;
    overflow-wrap: normal;
    justify-content: space-evenly;
}

.card {
    max-width: 20rem; 
    width: 15rem;
    min-width: 10rem;
    object-fit:fill;
}
